<header class="landing-welcome">
    <hgroup class="bound">
        <h1>Archive</h1>
        <h2>Explore the vaults of AudioVision.</h2>
    </hgroup>
</header>

<%= cache @posts do %>

<section class="feedgrid med bound">
    <%= render "/posts/collection", posts: @posts %>
</section>

<%= paginate @posts %>

<% end %>
