<%= form_block "Content" do %>
  <div id="aggregator" class="aggregator"></div>
  <%= f.input :post_references_json, as: :hidden, input_html: { id: "post_references_json" } %>
<% end %>

<% options['apiType'] = "private" %>

<% content_for :footer do %>
  <script>
    aggregator = new outpost.Aggregator(
      "#aggregator", "#post_references_json",
      <%= render_json('api/private/v1/posts/collection', posts: record.posts) %>,
      {
        apiType: 'private',
        params: {
          limit: 20
        }
      }
    );
  </script>
<% end %>
