<% add_to_page_title @flatpage.title %>

<% content_for :head, @flatpage.extra_head.html_safe %>
<% content_for :footer, @flatpage.extra_footer.html_safe %>

<div class="novella flatpage">
    <div class="novella-inner bound clearfix">

        <header>
            <h1><%= @flatpage.title %></h1>
        </header>

        <div class="prose">
            <%= @flatpage.content.html_safe %>
        </div><!--/ .prose -->

    </div><!--/ .novella-inner -->
</div><!--/ .novella -->
