<% if post.related_kpcc_article_url.present? %>
    <aside class="newsbox related">
        <header>
            <p>This AudioVision post is related to an article at KPCC. <%= link_to "Read More at KPCC.org", post.related_kpcc_article_url %></p>
            <span class="logo"><a href="http://scpr.org">89.3 KPCC</a></span>
        </header>
        <div class="js-kpcc-article preview clearfix"></div>
    </aside>

    <script>
        $(document).ready(function(){
            relatedKpccArticle = new audiovision.RelatedKpccArticle("<%=post.related_kpcc_article_url%>");
        });
    </script>
<% end %>
