<div class="media-wrapper video media-scaler">
    <%= post.asset.eight.tag %>
</div>

<%# Don't put this in content_for :footer, because it's wrapped in cache. %>
<script type="text/javascript">
    $(document).ready(function(){
        ahClient = new AssetHost.Client();
    });
</script>
