<header class="landing-welcome">
    <hgroup class="bound">
        <h1>About AudioVision</h1>
        <h2>Who we are and what we're about.</h2>
    </hgroup>
</header>

<div class="novella">
    <div class="novella-inner clearfix bound">
        
        <section class="prose">
            <p>AudioVision brings you the best in visual journalism and culture from Southern California. We share the stories of our community through photography, video, audio and social media.</p>
            <p>AudioVision is edited by the visuals team for Southern California Public Radio, the second-largest public radio affiliate in the nation. We are photographers, videographers, radio journalists and writers. Our team has roamed Southern California since 2011, making  pictures for radio.</p>
            <p>Here at AudioVision, we also scour the web for visual delights from Southern California and beyond. We search for stories that tickle your brain as much as your eyes. We are public radio, visualized.</p>
            <h3>What is Southern California Public Radio?</h3>
            <p>Southern California Public Radio is a member-supported public media network that operates 89.3 KPCC-FM in Los Angeles and Orange County, 89.1 KUOR-FM in the Inland Empire and 90.3 KVLA in the Coachella Valley.</p>
            <p>SCPR's mission is to strengthen the civic and cultural bonds that unite Southern California's diverse communities by providing the highest quality news and information service through radio and other interactive media.</p>
            <footer class="addendum">
                <p>AudioVision is a community-supported service of <a href="http://kpcc.org">Southern California Public Radio</a>. If you love public radio as much as we do, support it. <a href="#">Become a member today</a>.</p>
                <p>AudioVision's graphical identity was created by <a href="http://madebysa.com/">Simplify Advance</a>.</p>
            </footer>
        </section><!--/ .prose -->
        
        <section class="staff">
            <h1>Editors</h1>
            <article>
                Hi, I'm Grant
            </article>
            <article>
                Hi, I'm Mae
            </article>
            <article>
                Hi, I'm Maya
            </article>
        </section>
        
    </div>
</div><!--/ novella -->


<h1 style="margin-top: 300px;">Reporters</h1>
<ul>
<% @reporters.each do |reporter| %>
    <li><%= link_to reporter.name, reporter.link_path %></li>
<% end %>
</ul>
