<h1>About AudioVision</h1>
<p>Some text about AudioVision</p>


<h1>Reporters</h1>
<ul>
  <% @reporters.each do |reporter| %>
    <li><%= link_to reporter.name, reporter.link_path %></li>
  <% end %>
</ul>
