<% size ||= :eight %>
<% if post.present? %>

<a href="<%=post.link_path%>" class="component image">
    <div class="imagery">
        <img src="<%=post.asset.send(size).url%>" alt="" />
    </div>
    <hgroup class="caption">
        <h2 class="title"><%= post.title %></h2>
        <h3 class="subtitle"><%= post.subtitle %></h3>
    </hgroup>
</a><!--/ .component (image) -->

<% end %>
