<% if post.present? %>

<a href="<%= post.link_path %>" class="component slideshow">
    <div class="imagery">
        <div class="filmstrip clearfix">
            <% post.assets.first(3).each do |asset| %>
                <img src="<%=asset.eight.url%>" alt="" />
            <% end %>
        </div>
    </div>
    <hgroup class="caption">
        <h2 class="title"><%= post.title %></h2>
        <h3 class="subtitle"><%= post.subtitle %></h3>
    </hgroup>
</a><!--/ .component (slideshow) -->

<% end %>
