<% if post.present? %>

<a href="<%=post.link_path%>" class="component video">
    <div class="imagery">
        <%= post.asset.eight.tag %>
    </div>
    <hgroup class="caption">
        <h2 class="title"><%= post.title %></h2>
        <h3 class="subtitle"><%= post.teaser %></h3>
    </hgroup>
</a><!--/ .component (video) -->

<% end %>
