<% if post.present? %>

<a href="<%=post.public_path%>" class="component video">
    <div class="imagery">
        <img src="<%=post.asset.full.url%>" alt="" />
    </div>
    <hgroup class="caption">
        <mark class="promo"><span>New Episode</span></mark>
        <h2 class="title"><span><%= post.title %></span></h2>
        <h3 class="subtitle"><span><%= post.subtitle %></span></h3>
    </hgroup>
</a><!--/ .component (video) -->

<% end %>
