<div class="media-wrapper">
    <section class="gallery-grid clearfix">
        <% post.assets.each do |asset| %>
            <figure>
                <div class="img">
                    <a href="<%=asset.full.url%>"><b><%= asset.small.tag %></b></a>
                </div>
                <figcaption>
                    <span><%= asset.caption %></span>
                </figcaption>
            </figure>
        <% end %>
    </section><!--/ .gallery-grid -->
</div><!--/ .media-wrapper -->
