<div class="media-wrapper">
    <section class="gallery-grid clearfix">

            <!--<div class="pair clearfix">-->
                    <figure>
                        <div class="img">
                            <a href="#"><b><img src="/assets/fpo-inline-image-square.jpg" alt="" /></b></a>
                        </div>
                        <figcaption>
                            <span>Charlie Wells of Sarens checks to make sure the Space Shuttle Endeavour can clear a tree on Crenshaw Boulevard on Saturday evening.</span>
                        </figcaption>
                    </figure>
                    <figure>
                        <div class="img">
                            <a href="#"><b><img src="http://placekitten.com/900/900" alt="" /></b></a>
                        </div>
                        <figcaption>
                            <span>Image #2. My caption is short.</span>
                        </figcaption>
                    </figure>
            <!--</div> .... .pair -->

            <!--<div class="pair clearfix">-->
                    <figure>
                        <div class="img">
                            <a href="#"><b><img src="http://placekitten.com/800/800" alt="" /></b></a>
                        </div>
                        <figcaption>
                            <span>Charlie Wells is the 3rd image. Here is his caption. Checks to make sure <a href="#">the Space Shuttle Endeavour</a> can clear a tree on Crenshaw Boulevard on Saturday evening.</span>
                        </figcaption>
                    </figure>
                    <figure>
                        <div class="img">
                            <a href="#"><b><img src="http://placekitten.com/600/600" alt="" /></b></a>
                        </div>
                        <figcaption>
                            <span>Here comes figure #4. Wells of Sarens checks to make sure <a href="#">the Space Shuttle Endeavour</a> can clear a tree on Crenshaw Boulevard on Saturday evening.</span>
                        </figcaption>
                    </figure>
            <!--</div> .... .pair -->

            <!--<div class="pair clearfix">-->
                    <figure>
                        <div class="img">
                            <a href="#"><b><img src="http://placekitten.com/500/500" alt="" /></b></a>
                        </div>
                        <figcaption>
                            <span>Everybody look at the 5th image in this grid. It's me. Look at me.</span>
                        </figcaption>
                    </figure>
                    <figure>
                        <div class="img">
                            <a href="#"><b><img src="http://placekitten.com/900/600" alt="" /></b></a>
                        </div>
                        <figcaption>
                            <span>I'm node #6. It's important to note that I'm a rectangle, not a square.</span>
                        </figcaption>
                    </figure>
            <!--</div> .... .pair -->

            <!--<div class="pair clearfix">-->
                    <figure>
                        <div class="img">
                            <a href="#"><b><img src="http://placekitten.com/400/400" alt="" /></b></a>
                        </div>
                        <figcaption>
                            <span>I'm the 7th, final, node. Charlie Wells of Sarens checks to make sure <a href="#">the Space Shuttle Endeavour</a> can clear a tree on Crenshaw Boulevard on Saturday evening.</span>
                        </figcaption>
                    </figure>
            <!--</div> .... .pair -->


    </section><!--/ .gallery-grid -->
</div><!--/ .media-wrapper -->