<div class="primary">
    <img src="http://placekitten.com/900/600" alt="" style="display: block; width: 100%;">
    <p>I'm a caption! For an image post!</p>

    <% if @post.related_articles.present? %>
      <h3>Show related Articles</h3>
    <% else %>
      <h3>Show Popular KPCC articles</h3>
    <% end %>

</div><!--/ .primary -->
<div class="secondary">
    <article class="essay">
        <header class="intro">
            <h1 class="title">Make my way back home when I learn to fly</h1>
            <aside class="share">
                <ul class="clearfix">
                    <li class="fb"><a href="#">Share this on Facebook</a></li>
                    <li class="tw"><a href="#">Share this on Twitter</a></li>
                    <li class="tm"><a href="#">Share this on Tumblr</a></li>
                </ul>
            </aside>
            <hgroup class="byline">
                <h2>Photographs by Mae Ryan</h2>
                <mark class="date">27 June 2013</mark>
            </hgroup>
        </header>
        <div class="prose">
            <p>When airline pilots sit amet, consectetur adipiscing elit. Mauris at purus diam. Morbi eleifend commodo mi, ut cursus arcu consectetur.</p>
            <p>There was little doubt in the young Bryan’s mind that he would grow up to become a Rails developer. Nulla mauris, tincidunt sed lacinia ac, cursus at sem. Praesent vitae nunc non ligula laoreet rutrum. Duis molestie elit vitae odio ultricies convallis. Aliquam sit amet sapien purus, at scelerisque dolor. Nulla et elementum urna. Aliquam accumsan sollicitudin condimentum. Cras nec mi neque, at placerat quam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut lorem enim, vulputate sagittis congue quis, convallis aliquet nunc. Nam fermentum odio at magna laoreet sit amet egestas turpis volutpat.</p>
            <p>Duis posuere malesuada pretium. Phasellus vitae congue nunc. Quisque vestibulum hendrerit augue sit amet lobortis. Proin ullamcorper commodo augue ac fringilla. Proin urna nisi, placerat id accumsan at, congue nec purus. Aliquam fringilla consectetur ipsum, in cursus orci rhoncus eu. Integer ultrices ullamcorper metus, et imperdiet sem tempor vel. Praesent mattis elit non arcu sodales egestas. Aliquam erat volutpat. Nulla eu nisi a nulla cursus cursus. Nulla commodo scelerisque aliquet.</p>
            <h3>Checking Altitude</h3>
            <p>Sed semper scelerisque orci, vitae rutrum erat sagittis eget. Nulla quis tellus nulla, dictum iaculis:</p>
            <ul>
                <li>Nam faucibus. Mauris eu mollis iaculis, tortor felis tincidunt arcu, aliquet laoreet quam enim nec</li>
                <li>Facilisi. Pellentesque semper est in diam vestibulum dignissim. Fusce et justo a est accumsan rhoncus. Integer egestas est at lacus.</li>
                <li>Eleifend suscipit eget ultrices eros. Integer facilisis, lorem nec imperdiet feugiat, eros sem tempus justo, quis interdum ligula odio at nibh.</li>
                <li>Aenean at. Nunc sit amet ipsum dapibus sagittis.</li>
            </ul>
            <p>Integer eros lorem, varius quis blandit vitae, commodo a erat. Cras tincidunt pulvinar feugiat. Sed condimentum lorem placerat lacus luctus nec lacinia felis ullamcorper. Curabitur congue vulputate orci:</p>
            <p>Fusce quis risus libero. Duis a elit libero, ut consectetur ante. Sed hendrerit malesuada elementum. Nullam vitae diam erat, sit amet.</p>
            <p>Donec non auctor odio. Nulla urna lacus, pellentesque id consectetur non, euismod eu velit.</p>
            <p>Donec imperdiet sagittis nisi, consectetur mattis est tincidunt sit amet. Nunc fringilla tincidunt lorem, vitae pretium dolor laoreet in. Nulla et leo a leo viverra aliquam. Fusce vitae sollicitudin magna. Maecenas sed quam nibh, non sagittis tellus. Nullam venenatis, tortor vitae cursus aliquet, metus ligula fermentum risus, eget egestas tellus orci in lorem. Nulla sodales augue ac felis dignissim vel faucibus sapien blandit. Maecenas egestas euismod augue a interdum. Etiam tristique dapibus accumsan.</p>
        </div>
    </article>
</div><!--/ .secondary -->