<div class="primary">
    <img src="http://placekitten.com/900/600" alt="" style="display: block; width: 100%;">
    <p>I'm a caption! For an image post!</p>

    <% if @post.related_articles.present? %>
      <h3>Show related Articles</h3>
    <% else %>
      <h3>Show Popular KPCC articles</h3>
    <% end %>

</div><!--/ .primary -->
<div class="secondary">
    <h1 class="title">Make my way back home when I learn to fly</h1>
</div><!--/ .secondary -->