<% if post.asset.present? %>

    <div class="media-wrapper">
        <%= post.asset.eight.tag %>
    </div><!--/ .media-wrapper -->

    <aside class="caption">
        <p><%= post.asset.caption %></p>
    </aside>

<% end %>
