<% add_to_page_title "Error" %>

<div class="novella onecol">
    <div class="novella-inner clearfix bound">

        <section class="prose">
            <h1>Server Error (500)</h1>
            <p>Well, this is unfortunate.</p>
            <p>It looks like what you were searching for isn't here, or maybe has been moved. Perhaps you can try <a href="/archive">our archives</a>, or <a href="/">the AudioVision home page</a>.</p>
        </section><!--/ .prose -->

    </div>
</div><!--/ novella -->
