<% add_to_page_title "Error" %>

<div class="novella onecol">
    <div class="novella-inner clearfix bound">

        <section class="prose">
            <h1>Server Error (500)</h1>
            <p>Well, this is unfortunate.</p>
            <p>We've run into an error. This is our fault. Don't feel bad. We've been notified and are already fixing it.</p>
        </section><!--/ .prose -->

    </div>
</div><!--/ novella -->

<script>
    console.log("<%= error.class.name %>: <%= j error.message %>");
</script>
