<% add_to_page_title "Dashboard" %>

<div class="row">
  <div class="span9">
    <div class="well">
      <h2>Welcome to Outpost for AudioVision</h2>

      <p>Drag this link into your Bookmarks Bar. Clicking on it while on a Post will open its edit page in Outpost.</p>
      <a class="badge" href="javascript:(function()%7Bvar%20newWin%3Btry%7BnewWin%3Dwindow.open('',%22cms-%22%2B(new%20Date().getTime()/1000))%3BopenCMS(newWin)%7Dcatch(e)%7BnewWin.close()%3Balert(%22This%20function%20is%20not%20available%20on%20this%20page.%22)%3B%7D%7D)()%3B">Edit in A/V Outpost</a> &larr; <span class="text-success">Drag this into your bookmarks bar</span>
    </div>
  </div>
</div>
