<% if posts.present? %>
    <% posts.compact.each_slice(2) do |group| %>
        <div class="pair clearfix">
          <% group.each do |post| %>
            <%= render "/posts/teaser", post: post %>
          <% end %>
        </div>
    <% end %>
<% end %>
