<%# Keep this separate so that we can use it for preview! Don't cache anthing in here or lower, lest it be cached in preview! %>

<!-- Common code for all single posts -->
<div class="exhibit exhibit-type-<%= post.post_type_key %>">
    <div class="exhibit-inner bound clearfix">
        
        <%= render "posts/post_types/#{post.post_type_key}", post: post %>

    </div><!--/ .exhibit-inner -->
</div><!--/ .exhibit -->
