<!-- Don't be fooled... this is the homepage. -->

<div class="billboard bound">
    
    <div class="row-primary">
        <div class="component">
            <a href="#">
                Chloë Sevigny's 90s Throwback: Part Two
                The Indie Darling's NOWNESS Takeover Continues with Kim Gordon's Posse and a Marc Jacobs "Situation"
            </a>
        </div>
    </div><!--/ .row-primary -->

    <div class="row-secondary clearfix">
        <div class="component">
            <a href="#">
            </a>
        </div><!--/ .component -->
    </div><!--/ .row-secondary -->

</div><!--/ .billboard -->




<div class="warmup">

    <div class="warmup-inner bound clearfix">

        <h1 class="inset-title"><span class="bound"><b>Recently <mark>Published</mark></b></span></h1>

        <div class="recent">
            <figure class="clearfix">
                <b class="img"><a href="#"><img src="http://placekitten.com/900/600" alt="" /></a></b>
                <figcaption>
                    <ul class="meta">
                        <li class="date">28 April 2013</li>
                        <li class="type"><a href="#">Images</a></li>
                    </ul>
                    <mark><a href="#">Sed mattis mattis velit, et sagittis lacus auctor sit amet</a></mark>
                    <div class="desc">
                        <p>Keats observed that Los Angeles was like a cathedral built in the midst of risus dui a lectus. Phasellus velit mi, scelerisque et viverra id, mattis ut nibh.</p>
                    </div>
                </figcaption>
            </figure>
            <figure class="clearfix">
                <b class="img"><a href="#"><img src="http://placekitten.com/1024/683" alt="" /></a></b>
                <figcaption>
                    <ul class="meta">
                        <li class="date">28 April 2013</li>
                        <li class="type"><a href="#">Video</a></li>
                    </ul>
                    <mark><a href="#">Aliquam sit amet rutrum leo</a></mark>
                    <div class="desc">
                        <p>Scelerisque et viverra id, mattis ut nibh. Pellentesque vehicula venenatis libero non volutpat. Morbi semper interdum nisi, nec luctus lacus interdum nec etiam.</p>
                    </div>
                </figcaption>
            </figure>
            <figure class="clearfix">
                <b class="img"><a href="#"><img src="http://placekitten.com/1100/733" alt="" /></a></b>
                <figcaption>
                    <ul class="meta">
                        <li class="date">28 April 2013</li>
                        <li class="type"><a href="#">Images</a></li>
                    </ul>
                    <mark><a href="#">Etiam eget augue et nibh hendrerit vehicula</a></mark>
                    <div class="desc">
                        <p>Scelerisque et viverra id, mattis ut nibh. Pellentesque vehicula venenatis libero non volutpat. Morbi semper interdum nisi, nec luctus lacus interdum nec etiam.</p>
                    </div>
                </figcaption>
            </figure>
        </div><!--/ .recent -->
        <div class="primer">
            
            <!--
            <aside class="partnership-tease">
                <a href="#"><span>Sponsorship tease</span></a>
            </aside>
            -->

            <section class="pamphlet">

                <h2>What is AudioVision?</h2>
                <p>AudioVision is public radio, visualized. We bring you the best in visual journalism and culture from Southern California, the undisputed global capital of eye candy. We help you stay informed about the world around you through the eyes of your fellow community members. We ask you to show us how your view of the world.</p>
                <p>Have you seen something great? Have you made something great? Want to share something great? Tell us about it. Email us at <a href="mailto:photos@kpcc.org">photos@kpcc.org</a>.</p>

                <h2>Showing &amp; Telling: Start Here</h2>
                <figure>
                    <b class="img"><a href="#"><img src="http://placekitten.com/800/533" alt="" /></a></b>
                    <figcaption>
                        <mark><a href="#">Striking Up The Band</a></mark>
                        <ul class="meta">
                            <li class="type">Slideshow</li>
                            <li class="date">Apr 2, 2013</li>
                        </ul>
                    </figcaption>
                </figure>
                <figure>
                    <b class="img"><a href="#"><img src="http://placekitten.com/700/467" alt="" /></a></b>
                    <figcaption>
                        <mark><a href="#">The Multilingual Mind</a></mark>
                        <ul class="meta">
                            <li class="type">Video</li>
                            <li class="date">Apr 2, 2013</li>
                        </ul>
                    </figcaption>
                </figure>
                <figure>
                    <b class="img"><a href="#"><img src="http://placekitten.com/500/333" alt="" /></a></b>
                    <figcaption>
                        <mark><a href="#">Bases Loaded</a></mark>
                        <ul class="meta">
                            <li class="type">Slideshow</li>
                            <li class="date">Apr 2, 2013</li>
                        </ul>
                    </figcaption>
                </figure>

            </section>
        </div><!--/ .primer -->
    </div><!--/ .warmup-inner -->

    <!--
    <div class="partnership">
        <a href="#">
            <div class="bound">
                <p>Proin euismod aliquam lorem, ut facilisis tellus ullamcorper. Nunc sollicitudin facilisis mauris, in bibendum tortor tempor eu. Nam eros lorem, pharetra eu mattis id, sollicitudin sit amet leo.</p>
            </div>
        </a>
    </div>
    -->

</div><!--/ .warmup -->



<section class="feedgrid med bound">
    <div class="pair clearfix">
        <article>
            <a href="#">
                <figure class="clearfix">
                    <div class="img"><b><img src="http://placekitten.com/900/600" alt="" /></b></div>
                    <figcaption class="clearfix">
                        <div class="desc">
                            <h1>Timing and Grace and Poise</h1>
                            <p>Curabitur non mi eu dui congue malesuada eget sit amet felistortor tempor eu. Nam eros lorem, pharetra eu mattis id, sollicitudin sit amet leo. Quisque ornare. <mark>Read More</mark></p>
                        </div>
                        <span class="date">19 April 2013</span>
                    </figcaption>
                </figure>
            </a>
        </article>
        <article>
            <a href="#">
                <figure class="clearfix">
                    <div class="img"><b><img src="http://placekitten.com/900/600" alt="" /></b></div>
                    <figcaption class="clearfix">
                        <div class="desc">
                            <h1>The Title of the Second Post, Going In Reverse Chron, In This Feed</h1>
                            <p>Curabitur non mi eu dui congue malesuada eget sit amet felistortor tempor eu. Nam eros lorem, pharetra eu mattis id, sollicitudin sit amet leo. Quisque ornare. <mark>Read More</mark></p>
                        </div>
                        <span class="date">19 April 2013</span>
                    </figcaption>
                </figure>
            </a>
        </article>
    </div>
    <div class="pair clearfix">
        <article>
            <a href="#">
                <figure class="clearfix">
                    <div class="img"><b><img src="http://placekitten.com/700/700" alt="" /></b></div>
                    <figcaption class="clearfix">
                        <div class="desc">
                            <h1>I'm a Square-Ratio'd Image! Seriously!</h1>
                            <p>Curabitur non mi eu dui congue malesuada eget sit amet felistortor tempor eu. Nam eros lorem, pharetra eu mattis id, sollicitudin sit amet leo. Quisque ornare. <mark>Read More</mark></p>
                        </div>
                        <span class="date">19 April 2013</span>
                    </figcaption>
                </figure>
            </a>
        </article>
        <article>
            <a href="#">
                <figure class="clearfix">
                    <div class="img"><b><img src="http://placekitten.com/900/600" alt="" /></b></div>
                    <figcaption class="clearfix">
                        <div class="desc">
                            <h1>The Title of the Fourth Post, Going In Reverse Chron, In This Feed</h1>
                            <p>Curabitur non mi eu dui congue malesuada eget sit amet felistortor tempor eu. Nam eros lorem, pharetra eu mattis id, sollicitudin sit amet leo. Quisque ornare. <mark>Read More</mark></p>
                        </div>
                        <span class="date">19 April 2013</span>
                    </figcaption>
                </figure>
            </a>
        </article>
    </div>
</section><!-- feedgrid (4 nodes) -->



<aside class="roundup">
    <div class="roundup-ephemera">
        <div class="bound">
            <h1 class="roundup-title"><span>Our Latest <mark>Instagram</mark> Contest Winners</span></h1>
        </div>
    </div>
    <div class="roundup-inner clearfix bound">
        <p class="intro">Each month, we hold a themed Instagram contest for our readers to submit their best takes on bibendum tortor tempor eu. Nam eros lorem, pharetra eu mattis id, sollicitudin sit amet leo. <a href="#">See all contest winners.</a></p>
        <nav class="clearfix">
            <a href="#">
                <figure>
                    <b class="img"><img src="http://placekitten.com/500/500" alt="" /></b>
                    <figcaption>
                        <span class="meta">Week of Apr 28</span>
                        <mark>Sculpture</mark>
                    </figcaption>
                </figure>
            </a>
            <a href="#">
                <figure>
                    <b class="img"><img src="http://placekitten.com/400/400" alt="" /></b>
                    <figcaption>
                        <span class="meta">Week of Apr 28</span>
                        <mark>Sculpture</mark>
                    </figcaption>
                </figure>
            </a>
            <a href="#">
                <figure>
                    <b class="img"><img src="http://placekitten.com/700/700" alt="" /></b>
                    <figcaption>
                        <span class="meta">Week of Apr 28</span>
                        <mark>Sculpture</mark>
                    </figcaption>
                </figure>
            </a>
            <a href="#">
                <figure>
                    <b class="img"><img src="http://placekitten.com/600/600" alt="" /></b>
                    <figcaption>
                        <span class="meta">Week of Apr 28</span>
                        <mark>Sculpture</mark>
                    </figcaption>
                </figure>
            </a>
        </nav>
    </div>
</aside><!--/ .roundup -->




<section class="feedgrid med bound">
    <div class="pair clearfix">
        <article>
            <a href="#">
                <figure class="clearfix">
                    <div class="img"><b><img src="http://placekitten.com/800/534" alt="" /></b></div>
                    <figcaption class="clearfix">
                        <div class="desc">
                            <h1>Timing and Grace and Poise</h1>
                            <p>Curabitur non mi eu dui congue malesuada eget sit amet felistortor tempor eu. Nam eros lorem, pharetra eu mattis id, sollicitudin sit amet leo. Quisque ornare. <mark>Read More</mark></p>
                        </div>
                        <span class="date">19 April 2013</span>
                    </figcaption>
                </figure>
            </a>
        </article>
        <article>
            <a href="#">
                <figure class="clearfix">
                    <div class="img"><b><img src="http://placekitten.com/800/534" alt="" /></b></div>
                    <figcaption class="clearfix">
                        <div class="desc">
                            <h1>The Title of the Second Post, Going In Reverse Chron, In This Feed</h1>
                            <p>Curabitur non mi eu dui congue malesuada eget sit amet felistortor tempor eu. Nam eros lorem, pharetra eu mattis id, sollicitudin sit amet leo. Quisque ornare. <mark>Read More</mark></p>
                        </div>
                        <span class="date">19 April 2013</span>
                    </figcaption>
                </figure>
            </a>
        </article>
    </div>
    <div class="pair clearfix">
        <article>
            <a href="#">
                <figure class="clearfix">
                    <div class="img"><b><img src="http://placekitten.com/650/650" alt="" /></b></div>
                    <figcaption class="clearfix">
                        <div class="desc">
                            <h1>I'm a Square-Ratio'd Image! Seriously!</h1>
                            <p>Curabitur non mi eu dui congue malesuada eget sit amet felistortor tempor eu. Nam eros lorem, pharetra eu mattis id, sollicitudin sit amet leo. Quisque ornare. <mark>Read More</mark></p>
                        </div>
                        <span class="date">19 April 2013</span>
                    </figcaption>
                </figure>
            </a>
        </article>
        <article>
            <a href="#">
                <figure class="clearfix">
                    <div class="img"><b><img src="http://placekitten.com/800/534" alt="" /></b></div>
                    <figcaption class="clearfix">
                        <div class="desc">
                            <h1>The Title of the Fourth Post, Going In Reverse Chron, In This Feed</h1>
                            <p>Curabitur non mi eu dui congue malesuada eget sit amet felistortor tempor eu. Nam eros lorem, pharetra eu mattis id, sollicitudin sit amet leo. Quisque ornare. <mark>Read More</mark></p>
                        </div>
                        <span class="date">19 April 2013</span>
                    </figcaption>
                </figure>
            </a>
        </article>
    </div>
</section><!-- feedgrid (4 nodes) -->

