<% @BODY_CLASS = "single" %>

<!-- Common code for all single posts -->
<div class="exhibit">
    <div class="exhibit-inner bound clearfix">

        <%= render "posts/media_types/#{@post.media_type}" %>

    </div><!--/ .exhibit-inner -->
</div><!--/ .exhibit -->


<div style="width: 100%; margin-bottom: 90px; padding: 60px 0; color: white; text-align: center; background: #eb592a;">Sponsorship, if it was happening, which it isn't (but is here for now, because it breaks up the page)</div>




<div class="single-plugs">
    <p>recently on audiovision</p>
    <p>featured slideshows</p>
</div>
