<% @BODY_CLASS = "single" %>

<!-- Common code for all single posts -->
<div class="exhibit">
    <div class="exhibit-inner bound clearfix">

        <%= render "posts/media_types/#{@post.media_type_key}", post: @post %>

    </div><!--/ .exhibit-inner -->
</div><!--/ .exhibit -->


<div style="width: 100%; margin-bottom: 90px; padding: 60px 0; color: white; text-align: center; background: #eb592a;">Sponsorship, if it was happening, which it isn't (but is here for now, because it breaks up the page)</div>




<div class="single-plugs">
    <div class="single-plugs-ephemera">
        <div class="bound">
            <h1>Recently on AudioVision</h1>
        </div>
    </div><!--/ .single-plugs-ephemera -->
    <div class="single-plugs-inner clearfix bound">
        <section class="recently">
            <p>a post</p>
            <p>a second post</p>
            <p>a third post</p>
            <p>a fourth post</p>
            <footer>
                <a href="/archive">Browse Everything</a>
            </footer>
        </section>
        <section class="featured">
            <h2></span>Featured Slideshows</span></h2>
            <a href="#" class="preview">
                <figure>
                    <div class="img"><b><img src="/assets/fpo-inline-image-rect.jpg" alt="" /></b></div>
                    <figcaption>
                        <h3>Dos Por Cuatro</h3>
                        <p>Morbi justo erat, pretium at dapibus quis, malesuada id quam tortor tempor eu. Nam eros lorem, pharetra eu mattis id, sollicitudin sit amet leo. Quisque ornare.</p>
                    </figcaption>
                </figure>
            </a>
            <a href="#" class="preview">
                <figure>
                    <div class="img"><b><img src="/assets/fpo-inline-image-square.jpg" alt="" /></b></div>
                    <figcaption>
                        <h3>A Tale of Two Cities</h3>
                        <p>Morbi justo erat, pretium at dapibus quis, malesuada id quam tortor tempor eu. Nam eros lorem, pharetra eu mattis id, sollicitudin sit amet leo. Quisque ornare.</p>
                    </figcaption>
                </figure>
            </a>
            <footer>
                <a href="/archive">See All THIS_MEDIA_TYPE</a>
            </footer>
        </section>
    </div>
</div><!--/ .single-plugs -->
