

<div class="exhibit">
    <div class="exhibit-inner bound clearfix">
        <div class="primary">
            <img src="http://placekitten.com/900/600" alt="" style="display: block; width: 100%;">
            <p>I'm a caption!</p>
        </div><!--/ .primary -->
        <div class="secondary">
            <h1 class="title">Make my way back home when I learn to fly</h1>
        </div><!--/ .secondary -->
    </div><!--/ .exhibit-inner -->
</div><!--/ .exhibit -->


<div style="width: 100%; margin-bottom: 90px; padding: 60px 0; color: white; text-align: center; background: #eb592a;">Sponsorship, if it was happening, which it isn't (but is here for now, because it breaks up the page)</div>




<div class="single-plugs">
    <p>recently on audiovision</p>
    <p>featured slideshows</p>
</div>