<% @BODY_CLASS = "single" %>

<!-- Common code for all single posts -->
<div class="exhibit">
    <div class="exhibit-inner bound clearfix">

        <%= render "posts/media_types/#{@post.media_type_key}", post: @post %>

    </div><!--/ .exhibit-inner -->
</div><!--/ .exhibit -->


<div style="width: 100%; margin-bottom: 90px; padding: 60px 0; color: white; text-align: center; background: #eb592a;">Sponsorship, if it was happening, which it isn't (but is here for now, because it breaks up the page)</div>




<div class="single-plugs">
    <div class="single-plugs-ephemera">
        <div class="bound">
            <h1>Recently on AudioVision</h1>
        </div>
    </div><!--/ .single-plugs-ephemera -->
    <div class="single-plugs-inner clearfix bound">
        <section class="recently">
            <p>a post</p>
            <p>a second post</p>
            <p>a third post</p>
            <p>a fourth post</p>
        </section>
        <section class="featured">
            <p>featured one</p>
            <p>featured two</p>
        </section>
    </div>
</div><!--/ .single-plugs -->
