<% if post.assets.present? %>

<div class="media-wrapper video">
    <%= post.asset.eight.tag %>
</div>

<!-- Don't put this in content_for, because it's wrapped in cache. -->
<script type="text/javascript">
  $(document).ready(function(){
    ahClient = new AssetHost.Client();
  });
</script>

<% end %>
