<div class="primary">

    <% if post.assets.present? %>

    <%= render 'posts/shared/video_asset', post: post %>

    <% end %>


    <%= render "posts/shared/kpcc_references", post: post %>

</div><!--/ .primary -->


<div class="secondary">
    <article class="essay">

        <%= render "posts/shared/header", post: post %>

        <%= render "posts/shared/body", post: post %>

    </article>
</div><!--/ .secondary -->
