


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* You don't understand media queries. //////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.bound											{ width: 1030px; }


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* You don't understand background-size. ////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.membership										{ background-image: image-url('i/1x/ephemera-membership-logos-melange.jpg'); }
.membership-inner								{ background-image: image-url('i/1x/ephemera-membership-diecut.png'); }
.membership .secondary p						{ background-image: image-url('i/1x/ornament-hairline-aqua.png'); }
.membership .secondary p em						{ background-image: image-url('i/1x/ephemera-triangle-shadowed.png'); }
.membership h2									{ background-image: image-url('i/1x/logo-kpcc-white.png'); }
.epilogue										{ background-image: image-url('i/1x/ephemera-footer-scanlines.png'); }
.epilogue .branding								{ background-image: image-url('i/1x/logo-av-lightningbolt-fullcolor.png'); }
.epilogue .branding h1							{ background-image: image-url('i/1x/logo-av-wordmark-white.png'); }
.epilogue .branding h2							{ background-image: image-url('i/1x/logo-kpcc-white.png'); }
.masthead .kpcc-nav .inside span				{ background-image: image-url('i/1x/ephemera-triangle-inverted-orange.png'); }
.masthead .kpcc-brand a							{ background-image: image-url('i/1x/logo-kpcc-fullcolor.png'); }
.masthead .av-brand h1 a						{ background-image: image-url('i/1x/logo-av-fullcolor.png'); }
.masthead .wayfinder .selected					{ background-image: image-url('i/1x/ephemera-indicator-dot.png'); }
.masthead .follow a								{ background-image: image-url('i/1x/icons-follow.png'); }
.ledge .nav-kpcc mark span						{ background-image: image-url('i/1x/logo-kpcc-dropdown.png'); }
.ledge .nav-av mark								{ background-image: image-url('i/1x/logo-ledge-av.png'); }
.ledge .nav-av .follow a						{ background-image: image-url('i/1x/icons-follow.png'); }
.envoy h1 a										{ background-image: image-url('i/1x/ephemera-triangle-leftward.png'); }
.landing-recents .primary figcaption .date		{ background-image: image-url('i/1x/ornament-hairline-gray-med.png'); }
.roundup-inner .intro							{ background-image: image-url('i/1x/ornament-lightningbolt-darkgray.png'); }
.warmup .recent									{ background-image: image-url('i/1x/ornament-gray-hairline-vertical.png'); }
.warmup .recent figcaption .meta				{ background-image: image-url('i/1x/ornament-hairline-gray-med.png'); }
.feedgrid .date									{ background-image: image-url('i/1x/ornament-hairline-gray-med.png'); }
.exhibit .primary .caption						{ background-image: image-url('i/1x/ornament-hairline-gray-med.png'); }
.exhibit .essay									{ background-image: image-url('i/1x/ornament-lightningbolt-stroked.png'); }
.exhibit .intro									{ background-image: image-url('i/1x/ornament-lightningbolt-black.png'); }
.exhibit .intro .share a						{ background-image: image-url('i/1x/icons-follow.png'); }
.exhibit .prose									{ background-image: image-url('i/1x/ephemera-essay-prose-shadow.png'); }
.exhibit .prose .first,
.novella .prose .first							{ background-image: image-url('i/1x/ornament-hairline-gray-med.png'); }
.newsbox header .logo a							{ background-image: image-url('i/1x/logo-kpcc-white.png'); }
.newsbox .preview a .date						{ background-image: image-url('i/1x/ornament-hairline-gray-med.png'); }
.single-plugs-ephemera h1 span					{ background-image: image-url('i/1x/logo-phrase-recentlyonav.png'); }
.single-plugs .recently-jump a					{ background-image: image-url('i/1x/ephemera-triangle-shadowed.png'); }
.single-plugs .featured h2 span					{ background-image: image-url('i/1x/ornament-lightningbolt-lightblue.png'); }
.single-plugs .featured .preview h3				{ background-image: image-url('i/1x/ornament-hairline-gray-med.png'); }
.single-plugs .featured-jump a					{ background-image: image-url('i/1x/ephemera-triangle-darkgray.png'); }
.membership										{ background-image: image-url('i/1x/ephemera-membership-logos-melange.jpg'); }
.membership-inner								{ background-image: image-url('i/1x/ephemera-membership-diecut.png'); }
.membership .secondary p						{ background-image: image-url('i/1x/ornament-hairline-aqua.png'); }
.membership .secondary p em						{ background-image: image-url('i/1x/ephemera-triangle-shadowed.png'); }
.membership h2									{ background-image: image-url('i/1x/logo-kpcc-white.png'); }
.epilogue										{ background-image: image-url('i/1x/ephemera-footer-scanlines.png'); }
.epilogue .branding								{ background-image: image-url('i/1x/logo-av-lightningbolt-fullcolor.png'); }
.epilogue .branding h1							{ background-image: image-url('i/1x/logo-av-wordmark-white.png'); }
.epilogue .branding h2							{ background-image: image-url('i/1x/logo-kpcc-white.png'); }

.novella .staff header ul a						{ background-image: image-url('i/1x/icons-follow.png'); }
.novella .staff header h3						{ background-image: image-url('i/1x/ornament-lightningbolt-black.png'); background-position: left top; }
.novella .addendum								{ background-image: image-url('i/1x/ornament-lightningbolt-stroked.png'); }

.instapromo-footer h2							{ background: none; padding-left: 0; }
.instapromo-footer .brand						{ background-image: image-url('i/1x/logo-kpcc-white.png'); width: 100px; height: 15px;}
.novella .staff header h3						{ background: none; }
.novella .staff header h3 a						{ background: none; padding-left: 0; }




/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* You don't understand box-shadow or RGBa. /////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.warmup											{ border-top: 1px solid black; }
.masthead .global								{ background: #f4f4f4; border-bottom: 1px solid #dedede; }
.landing-welcome								{ background: #f4f4f4; }
.pagination										{ background: #f4f4f4; border-top: 2px solid gray #dedede; border-bottom: 2px solid #dedede; }




/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* You don't understand multiple backgrounds. ///////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.single-plugs									{ background: image-url('i/structure-singleplug-base.png') repeat-y center top; }
.single-plugs-ephemera .bound					{ background: image-url('i/structure-singleplug-inner.png') repeat-y 71.666666666667% 0; }
.single-plugs-inner								{ background: image-url('i/structure-singleplug-inner.png') repeat-y 71.666666666667% 0; }




/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* You are generally buggy and terrible. ////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.single-plugs .recently figure					{ border: 1px solid transparent; }
.single-plugs .featured figure					{ border: 1px solid transparent; }
.feedgrid figure .img,
.single-plugs img								{ border: 1px solid black; }
.single-plugs .recently .img					{ margin-bottom: 13px; /* not 8 */ }


body.landing .masthead .av-brand h1,
body.single .masthead .av-brand h1 {
    height: 45px;
    width: 292px;
}


