// z-index:
//  .slideview: auto
//    .slides: auto
//      .slide: 5
//      .overlay-nav: 6 (needs to be under fixed header)
//      .slideshow-header: 7 (fullscreen only)

@mixin fullscreen-slideshow {
    background-color: #000;
    height: 100%;

    // Hide some stuff
    .thumbtray-toggler,
    .thumbtray,
    .slideshow-fullscreen {
        display: none;
    }

    .slides.asset-block {
        height: 100%;

        .overlay-nav {
            height: 100% !important;
        }

        .slide {
            width: 100%;
            height: 100%;

            .media-wrapper {
                height: 87%;
            }

            .caption {
                padding-right: 20px;
                padding-left: 20px;
            }
        }
    }
}


.slideview {
    &:-webkit-full-screen {
        @include fullscreen-slideshow();
    }

    &:-moz-full-screen {
        @include fullscreen-slideshow();
    }

    &:full-screen {
        @include fullscreen-slideshow();
    }
}


.static-slides {
    .slide {
        margin-bottom: 10px;
    }
}

.slideview {
    width: 100%;
    position: relative;

    .slideshow-header {
        margin-bottom: 5px;
        height: 21px;
		position: relative;
		z-index: 1;

        h6 {
			white-space: nowrap;
            line-height: 21px;
            color: #c2c2c2;
            float: left;
        }

		.pager-nav,
		.slideshow-fullscreen,
		.thumbtray-toggler {
			position: relative;
			z-index: 3;
		}

        .pager-nav {
            padding: 0 0 0 5px;
            float: right;

            a {
                float: left;
                cursor: pointer;
                background: image-url('carousel-btns.png') no-repeat;
                display: inline-block;
                width:22px;
                height:22px;

                &.disabled {
                    @include opacity(50);
                    cursor: default;
                }
                &.prev {
                    background-position:0 0;
                    &:hover { background-position:-62px 0; }
                    &.disabled { background-position:0 0; }
                }
                &.next {
                    background-position:-32px 0;
                    &:hover { background-position:-94px 0; }
                    &.disabled { background-position:-32px 0; }
                }
            }

            .page-count {
                float: left;
                @include font-sans-serif($size: 12px);
                color: #ccc;
                height: 20px;
                width: 60px;
                text-align: center;
                padding-top: 4px;
            }
        }

        .thumbtray-toggler {
            float: right;
            cursor: pointer;
            margin: 0 7px 0 0;
            width: 88px;
            height: 22px;
            background: transparent image-url('thumbnails-btn.png') no-repeat 0 0;
            vertical-align: middle;
			box-shadow: -18px 0 10px white;


            &:hover, &.active {
                background-position: 100% 0;
            }
        }
    }

    .thumbtray {
        position: relative;
        margin: 10px 0;
        text-align: center;
        display: none;
        padding: 5px 0 0 0 ;
        background: #e6e5e5;
        box-shadow: inset -4px 3px 0px rgba(0,0,0,0.06);
        outline: 1px solid rgba(0,0,0,0.2);

        .nav {
            position: absolute;
            top: 0;
            width: 7%;
            max-width: 48px;
            min-width: 31px;
            height: 100%;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: 50% 48%;

            &.prev {
                left: 0;
                background-image: image-url('overlay-prev-dark-sm.png');
                border-right: 1px solid $grayLight;
            }
            &.next {
                right: 0;
                background-image: image-url('overlay-next-dark-sm.png');
                border-left: 1px solid $grayLight;
            }

            &.disabled {
                 @include opacity(10);
             }

             &.active {
                 cursor: pointer;
                 @include opacity(50);
                 &:hover {
                     @include opacity(70);
                 }
             }
        }

        .thumbnails {
            @include opacity(100);
            width: 86%;
            margin: 0 auto;
            padding-bottom: 2px;

            .thumbnail {
                cursor: pointer;
                margin: 0 5px;
                display: none;
                width: 13%;
                border: 1px solid #ccc;
                padding: 2px;
                line-height: 0;
                box-shadow: -3px 3px 0 rgba(0,0,0,0.1);

                img {
                    width: 100%;
                }

                &.current-set {
                    display: inline-block;
                    zoom: 1;
                }

                &.active, &:hover {
                    border-color: $orange;
                }
            }
        }
    }

    .slides {
        position: relative;
        clear: both;
        width: 100%;

        .slide {
            position: relative;
            z-index: 5;
            text-align: center;
            width: 100%;
            display: none;

            .media-wrapper {
                position: relative;

                img {
                    margin: auto;
                    width: auto;
                    height: auto;
                    max-height: 100%;
                    max-width: 100%;
                }
            }

            &.active {
                display: block;
            }

            .text {
                text-align: left;
            }
        }

        .overlay-nav {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 9;
            display: block;
            width: 100%;
            height: 100%;

            div.bar {
                height: 100%;
                position: absolute;
                z-index: 20;
                display: block;
                background-color: transparent;
                background-repeat: no-repeat;
                @include opacity(100);

                &.prev {
                    left: 0;
                    width: 30%;
                    background-position: 6% 48%;
                    background-image: image-url('overlay-prev-dark.png');
                }

                &.next {
                    right: 0;
                    width: 70%;
                    background-position: 98% 48%;
                    background-image: image-url('overlay-next-dark.png');
                }

                &.disabled {
                    @include opacity(10);
                }

                &.active {
                    cursor: pointer;
                    @include opacity(50);
                    &:hover {
                        @include opacity(70);
                    }
                }
            }
        }
    }
}





/*
############################################################
Slideshow Header
############################################################ */

.slideshow-header {
}
		.slideshow-header h6 {
			text-transform: uppercase;
			font: normal 900 0.75em/1.0 "proxima-nova", Avenir, Arial, sans-serif;
		}
				.slideshow-header h6:before {
					content: "Slideshow";
				}
				.slideshow-header .full-title {
					display: none;
				}

        .av-fullscreen .slideshow-header {
            padding-top: 10px;
        }

		.av-fullscreen .slideshow-header h6 {
			font-weight: 700;
			font-size: 1.2em;
			text-transform: none;
			padding: 0 0 0 34px;
			margin-left: 15px;
			background: image-url('i/logo-av-lightningbolt-fullcolor.png') no-repeat left top;
			background-size: 22px 22px;
		}
				.av-fullscreen .slideshow-header h6 b {
					color: rgba(255,255,255,0.6);
					font-weight: 100;
					padding: 0 5px;
				}
				.av-fullscreen .slideshow-header h6:before {
					content: "";
				}
				.av-fullscreen .slideshow-header .full-title {
					display: inline;
				}

		.slideshow-fullscreen {
			float: right;
			display: block;
			overflow: hidden;
			padding: 0 23px 0 4px;
			margin: 0 7px 4px 3px;
			border-radius: 3px;
			background: rgba(0,0,0,0.07) image-url('i/ornament-lightningbolt-darkgray.png') no-repeat 92% 3px;
			background-size: 11px 13px;
			border: 1px solid rgba(0,0,0,0.15);
			cursor: pointer;
			text-transform: uppercase;
			font: normal 700 0.75em/1.0 "proxima-nova", Avenir, Arial, sans-serif;
			color: rgba(0,0,0,0.65);
			height: 21px;
		}
				.slideshow-fullscreen:hover {
					background-color: #5fc9eb;
					color: white;
				}
				/*	===================================================================================
				    =================================================================================== */

				    @media screen and (max-width: 550px) {
						.slideshow-fullscreen {
							display: none;
						}
				    }
				
				/*	===================================================================================
				    =================================================================================== */
				

		.av-fullscreen .slideview .slides .slide .media-wrapper img {
			height: auto;
			max-height: auto;
			width: auto;
			max-width: auto;
		    margin: 0 auto;
            position: relative; // This is necessary so that it obeys the "top"
                                // attrobite set by the vertical-centering-JS
                                // The image should go back to static position
                                // outside of Fullscreen, otherwise the "top"
                                // property will have an effect there too.
        }
				.av-fullscreen .slideview .slides .slide.supports-wideness {
					padding-top: 30px;
				}
