<div class="billboard layout-3 bound">

    <div class="row primary">
        <a href="#" class="component slideshow">
        </a><!--/ .component (slideshow) -->
    </div><!--/ .row-primary -->

    <div class="row secondary clearfix">
        <a href="#" class="component video">
            <div class="imagery">
                <img src="http://placekitten.com/1500/844" alt="" />
            </div>
            <hgroup class="caption">
                <h2 class="title">Will You Direct OK Go’s Next Big Video?</h2>
                <h3 class="subtitle">The Viral Sensations Take a Rare Back Seat in a Groundbreaking New Competition</h3>
            </hgroup>
        </a><!--/ .component (video) -->
        <a href="#" class="component video">
            <div class="imagery">
                <img src="http://placekitten.com/1500/844" alt="" />
            </div>
            <hgroup class="caption">
                <h2 class="title">Will You Direct OK Go’s Next Big Video?</h2>
                <h3 class="subtitle">The Viral Sensations Take a Rare Back Seat in a Groundbreaking New Competition</h3>
            </hgroup>
        </a><!--/ .component (video) -->
    </div><!--/ .row-secondary -->

</div><!--/ .billboard -->