<div class="billboard layout-2 bound">

    <div class="row primary">
        <a href="#" class="component slideshow">
        </a><!--/ .component (slideshow) -->
    </div><!--/ .row-primary -->

    <div class="row secondary clearfix">
        <a href="#" class="component image">
            <div class="imagery">
                <img src="http://placekitten.com/700/467" alt="" />
            </div>
            <hgroup class="caption">
                <h2 class="title">Daphne Guinness: Undressed</h2>
                <h3 class="subtitle">Director Brennan Stasiewicz Captures Fashion’s Enigma At Home and On Display</h3>
            </hgroup>
        </a><!--/ .component (image) -->
        <a href="#" class="component image">
            <div class="imagery">
                <img src="http://placekitten.com/700/467" alt="" />
            </div>
            <hgroup class="caption">
                <h2 class="title">Daphne Guinness: Undressed</h2>
                <h3 class="subtitle">Director Brennan Stasiewicz Captures Fashion’s Enigma At Home and On Display</h3>
            </hgroup>
        </a><!--/ .component (image) -->
        <a href="#" class="component image">
            <div class="imagery">
                <img src="http://placekitten.com/700/467" alt="" />
            </div>
            <hgroup class="caption">
                <h2 class="title">Daphne Guinness: Undressed</h2>
                <h3 class="subtitle">Director Brennan Stasiewicz Captures Fashion’s Enigma At Home and On Display</h3>
            </hgroup>
        </a><!--/ .component (image) -->
    </div><!--/ .row-secondary -->

</div><!--/ .billboard -->