<div class="billboard layout-6 bound">

    <div class="row primary clearfix">
        <a href="#" class="component mobile">
        </a><!--/ .component (mobile) -->
        <a href="#" class="component image">
        </a><!--/ .component (image) -->
    </div><!--/ .row-primary -->

    <div class="row secondary clearfix">
        <a href="#" class="component video">
        </a><!--/ .component (video) -->
        <a href="#" class="component video">
        </a><!--/ .component (video) -->
    </div><!--/ .row-secondary -->

</div><!--/ .billboard -->