<div class="billboard layout-2 bound">

    <div class="row primary">
        <a href="#" class="component slideshow">
        </a><!--/ .component (slideshow) -->
    </div><!--/ .row-primary -->

    <div class="row secondary clearfix">
        <a href="#" class="component image">
        </a><!--/ .component (image) -->
        <a href="#" class="component image">
        </a><!--/ .component (image) -->
        <a href="#" class="component image">
        </a><!--/ .component (image) -->
    </div><!--/ .row-secondary -->

</div><!--/ .billboard -->