<div class="billboard layout-2 bound">

    <div class="row primary">
        <%= render "billboards/components/slideshow", post: billboard.posts[0] %>
    </div><!--/ .row-primary -->


    <div class="row secondary clearfix">
    <% Array(billboard.posts[1..3]).each do |post| %>
        <%= render "billboards/components/image", post: post, size: :eight %>
    <% end %>
    </div><!--/ .row-secondary -->

</div><!--/ .billboard -->
