<aside class="spokesman instapromo">
    <a href="http://instagram.com/kpcc" title="Follow KPCC on Instagram">
        <div class="instapromo-header">
            <div class="bound">
                <h1>Get a steady stream of KPCC in your feed.</h1>
            </div>
        </div>
        <div class="instapromo-footer">
            <div class="bound">
                <h2>Follow @KPCC on Instagram for photos from behind the scenes and across LA.</h2>
                <span class="brand">89.3 KPCC</span>
            </div>
        </div>
    </a>
</aside><!--/ .insta-promo -->
